{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Thank you for your shopping</h1>
    <h3>Redirecting to the homepage...</h3>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            var url = Routing.generate('homepage');
            //console.log(url);
            window.location.href = url;
        });
    </script>
{% endblock %}